.navbar {
	background-color: #bec2bc;
}

.quem-somos{
	background-color: #80bfff;
}

.margin{
	padding-top: 40px;
	padding-bottom: 40px;
}

.margin-texto{
	padding-top: 20px;
	padding-bottom: 20px;
}

.parceiros {
	background-color: #ffb3cc;
}

.bg-footer{
	background-color: black;
	color: white;
}